body {
	background-color: #160e1f;
}
#output {
	display: block;
	height: 100px;
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
	border: 5px solid rgb(11, 1, 52);
	border-radius: 3%;
	margin: 6px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 80px;
	color: rgb(255, 255, 255);
}
.calculator {
	border: 6px solid rgb(29, 14, 54);
	background-color: rgb(50, 50, 49);
	border-radius: 3%;
	max-width: 450px;
	margin-inline: auto;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
		2px 4px 3px rgba(134, 6, 167, 0.881), 0 0 7px 2px rgba(40, 4, 65, 0.6),
		inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
		inset 2px 4px 3px rgb(79, 16, 92), inset 0 0 7px 2px rgb(175, 12, 180);
	animation: flickering 5s infinite;
}
.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.item {
	aspect-ratio: 1;
	width: 100px;
	height: 100px;
	background-color: #000000;
	border-radius: 50%;
	border: 4px solid rgb(51, 0, 255);
	color: white;
	margin: 4px;
	font-size: 30px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-align: center;
}
.item:hover {
	background-color: #160e1f;
}
#zero {
	width: 43%;
	border-radius: 50px;
}
@keyframes flickering {
	0% {
		border-color: transparent;
		opacity: 0.2;
	}

	2% {
		border-color: #8c00ff;
		opacity: 1;
	}

	4% {
		border-color: transparent;
		opacity: 0.2;
	}

	8% {
		border-color: #8c00ff;
		opacity: 1;
	}

	28% {
		border-color: #8c00ff;
		opacity: 1;
	}

	30% {
		border-color: transparent;
		opacity: 0.2;
	}

	36% {
		border-color: #8c00ff;
		opacity: 1;
	}

	100% {
		border-color: #8c00ff;
		opacity: 1;
	}
}
